@import "../../../theme/colors.scss";
@import "../../../theme/fonts.scss";
@import "../../../theme/sizes.scss";

.tableRow {
  background-color: $color-white;
  box-shadow: 0 0 0.313rem $color-grey;
  border-radius: 0.25rem;
  cursor: pointer;

  td {
    padding: 1.25rem 1.5rem;
  };

  td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
  };

  td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.tableRow:hover {
  box-shadow: 0px 0px 0.313rem 1px $color-dark-smoke;
}

.columnCharacter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.characterImage {
  margin-right: 1.25rem;
  border-radius: 0.25rem;
}

.characterName {
  color: $color-dark-smoke;
  font-size: $font-size-md;
}

.characterDescriptions {
  ul {
    list-style: none;
  }

  li {
    color: $color-dark-smoke;
    font-size: $font-size-sm;
    font-weight: 500;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  ul li {
    @media (max-width: $laptop) {
      max-width: 7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.tooltipDescriptions {
  li {
    color: $color-dark-snow;
    font-size: $font-size-sm;
    font-weight: 500;
    max-width: 100% !important;
  }
}