@import "@/theme/colors.scss";
@import "@/theme/sizes.scss";
@import "@/theme/fonts.scss";

.containerCharactersTable {
  max-height: $height-home-content;
  overflow-y: auto;
}

.containerCharactersTable::-webkit-scrollbar {
  width: 0.375rem;
}

.containerCharactersTable::-webkit-scrollbar-thumb {
  background-color: $color-dark-smoke;
  border-radius: 0.375rem;
}

.containerCharactersTable::-webkit-scrollbar-track {
  background-color: $color-snow;
  opacity: 0.5;
}

.charactersTable {
  width: 100%;
  border-spacing: 0 0.5rem;
  padding-right: 0.5rem;

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    td {
      &.characterSeries,
      &.characterEvents {
        display: none;
      }
    }
  }

  th {
    color: $color-smoke;
    font-size: $font-size-xs;
    font-weight: 300;
    text-align: left;

    padding: 0px 24px;

    @media (max-width: $mobile) {
      display: none;

      &:first-child {
        display: block;
        text-align: center;
      }
    }
  }
}